.informationSection {
  background-color: #EDEDE9;
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: -8px;
  overflow: hidden;
}

.content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.imageContainer {
  flex: 1;
}

.textContainer {
  flex: 1;
  padding-left: 80px;
}

.image {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  height: 90%; /* Ensure aspect ratio is maintained */
  margin: 0px 20px;
  margin-top: 50px;
  opacity: 0; /* Initial state */
  transform: translateX(-100%); /* Initial state */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.image.visible {
  opacity: 1;
  transform: translateX(0);
}

.title {
  color: #414833;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  color: #414833;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-between; /* Ensure equal spacing between items */
  flex-wrap: wrap; /* Allow wrapping to handle smaller screens */
  gap: 20px; /* Add some spacing between items */
}

.stat {
  flex: 1; /* Ensure each stat takes equal space */
  min-width: 200px; /* Ensure minimum width */
  display: flex;
  flex-direction: column;
  color: #8E3200;
  font-size: 3rem;
  font-weight: bold;
}

.numberContainer {
  display: flex;
  align-items: baseline; /* Align number and + sign */
}

.number {
  margin-right: 0.2rem; /* Space between number and + sign */
}

.statTitle {
  font-size: 1rem;
  color: #414833;
  margin-top: 0.5rem; /* Space between number and title */
}

.contactButton {
  margin-top: 30px;
  background-color: #8E3200;
  color: white;
  font-size: 1rem;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contactButton:hover {
  background-color: #414833;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .informationSection {
    padding: 40px 20px;
  }
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }
  .imageContainer {
    display: none; /* Hide image container on small screens */
  }
  .textContainer {
    padding: 0px 5px;
    margin: 0px 10px;
  }
  .stats {
    flex-direction: column; /* Stack items vertically */
  }
  .stat {
    font-size: 2rem; /* Adjust font size for smaller screens */
    align-items: center; /* Center align all items */
  }
}
