.product-detail {
  display: flex;
  padding: 20px;
  background-color: #EDEDE9;
  max-width: 1000px;
  margin: 0 auto;
}

.image-section {
  display: flex;
  flex-direction: row;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

.thumbnail-image {
  width: 80px;
  height: 80px;
  cursor: pointer;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.main-image {
  width: 350px;
  height: 500px;
  object-fit: cover;
  border-radius: 4px;
}

.details-section {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left; /* Align text to the left */
}

.product-name {
  font-size: 2em;
  font-weight: bold;
  color: #414833;
  margin-bottom: 20px;
}

.product-description {
  font-size: 1.2em;
  color: #414833;
  margin-bottom: 20px;
}

.separator {
  border: 0;
  height: 1px;
  background: #414833;
  margin: 20px 0;
}

.color-section {
  margin-bottom: 20px;
}

.color-section p {
  color: #414833;
  margin-bottom: 10px;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.color-circle:hover {
  border: 2px solid #414833;
}

.selected-color {
  border: 2px solid #414833;
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #414833;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 20px;
}
