.product-detail {
  display: flex;
  padding: 20px;
  background-color: #edede9;
  max-width: 1000px;
  margin: 0 auto;
}

.image-section {
  display: flex;
  flex-direction: row;
  margin: 0px 80px;
  position: relative;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

.thumbnail-image {
  width: 80px;
  height: 80px;
  cursor: pointer;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
}

.thumbnail-image:hover,
.thumbnail-image.selected {
  transform: scale(1.1);
}

.main-image-container {
  position: relative;
  width: 350px;
}

.main-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 4px;
}

.slideshow-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  opacity: 0; /* Hide by default */
  visibility: hidden; /* Hide by default */
}

.prev-button,
.next-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 0 10px;
}

.details-section {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
}

.product-name {
  font-size: 2em;
  font-weight: bold;
  color: #414833;
  margin-bottom: 20px;
}

.product-description {
  font-size: 1.2em;
  color: #414833;
  margin-bottom: 20px;
}

.separator {
  border: 0;
  height: 1px;
  background: #414833;
  margin: 20px 0;
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #414833;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 20px;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid transparent;
  margin: 0px 5px;
}

.color-circle:hover,
.color-circle.selected {
  border: 2px solid #414833;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  opacity: 0; /* Hide by default */
  visibility: hidden; /* Hide by default */
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

.icon {
  width: 25px;
  height: 25px;
}

.back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.back-button img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease-in-out;
}

.back-button:hover img {
  transform: scale(1.1);
}

.rotate {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    padding: 10px;
  }

  .image-section {
    flex-direction: column;
    margin: 0 20px;
  }

  .thumbnail-images {
    display: none;
  }

  .main-image-container {
    width: 100%;
  }

  .main-image {
    height: auto;
  }

  .details-section {
    margin-left: 0;
    text-align: center;
  }

  .product-name {
    font-size: 1.5em;
  }

  .product-description {
    font-size: 1em;
  }

  .separator {
    margin: 10px 0;
  }

  .add-to-cart-button {
    font-size: 0.9em;
  }
  .slideshow-controls {
    opacity: 1; /* Show on small screens */
    visibility: visible; /* Show on small screens */
  }

  .pagination {
    opacity: 1; /* Show on small screens */
    visibility: visible; /* Show on small screens */
  }

  .back-button {
    margin-right: 80%;
    padding: 10px;
  }

}
