.product-card {
  position: relative;
  width: 400px; /* Adjusted width */
  margin: 10px;
  text-align: justify;
  background-color: #edede9;
  border-radius: 8px;
  color: #414833;
  cursor: pointer;
}

.product-content{
  text-align: center;
  padding: 30px;
}

.product-image {
  height: 350px; /* Adjusted height */
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}
