.Checkout-nav {
  padding: 50px;
  background-color: #EDEDE9;
  margin: -8px;
  overflow: hidden;
  padding-top: 100px;
  color: #414833;
}

.checkout-banner {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 0px 20px;
  display: flex;
}

.checkout-banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkout-banner h1 {
  margin: 0;
  color: #414833;
}

.checkout-banner p {
  margin: 0;
  color: #414833;
}

.cart-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-direction: row; /* Default for larger screens */
}

.cart-section {
  width: 40%;
  height: 80%;
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  margin-right: 20px;
}

.form-section {
  width: 50%;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: white;

}

/* Responsive styles */
@media (max-width: 768px) {
  .cart-page {
    flex-direction: column;
  }

  .cart-section {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .checkout-banner {
    flex-direction:row;
    width: calc(100% - 40px); 
  }
  .checkout-banner-content{
    width: 100%;
    margin: 10px 10px;
  }
  .form-section {
    width: 100%;  
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-items {
  border-radius: 5px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h3,
.cart-item-details p {
  color: #414833;
}

.cart-item-details .highlighted {
  color: #414833;
}

.cart-item-divider {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.remove-item {
  background: none;
  border: none;
  cursor: pointer;
}

.remove-item img {
  width: 20px;
  height: 20px;
}

.clear-cart {
  background: none;
  border: none;
  color: #414833;
  text-decoration: underline;
  cursor: pointer;
}

.continue-shopping {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #414833;
  cursor: pointer;
  margin-top: 10px;
}

.continue-shopping img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-form label {
  margin-bottom: 10px;
}

.checkout-form input {
  padding: 5px;
  margin-top: 5px;
  width: 100%;
}

.submit-button {
  background-color: #414833;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  align-self: flex-end;
}


